body {
	font-family: 'Open Sans', sans-serif;
	background-image: url(../resources/background.jpg);
	background-repeat: repeat-y;
	background-size:contain;
	margin: 0;
	padding: 0;
	color: white;
}
h1,h2,h3{
	color:#0074cf;

}
.aboutImg{
	float:right;
	max-width: 250px;
}

p { display: inline; margin: 0 0 0 0; }

a:link, a:visited {
	color: #0074cf;
	text-decoration: none;
}

a:hover, a:active {
	color: #0074cf;
	text-decoration: none;
}

header, #container, #sidebar1, footer {
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
}
#sidebar1{
	height:595px;
}

header {
	background-image: url(../resources/html_code.jpg);
	background-repeat: no-repeat;
	background-position: center;
	width: 960px;
	height: 100px;
	box-shadow: 0px 0px 10px #1f2025;

	margin-left: auto;
	margin-right: auto;
}

.headText {
	color: #999;
	font-weight: bold;
	text-align: right;
	padding-top: 150px;
	padding-right: 40px;
}

#container {
	/*background-color: rgb(49, 52, 57); */
	background-color: #43474e;
	box-shadow: 0px 0px 10px #1f2025;
	min-height: 552px;
	height: 100%;
	display: block;
	overflow: hidden;
}

#sidebar1 {
	float: left;
	width: 200px;
	min-height: inherit;
	border-right: 1px solid;
	color: #393631;
	display: inline-block;
}

#gifContain {
	width: 100px;
	height: 100px;
	margin-top: 15px;
	position: relative;
	z-index:1;
	margin-left: auto;
	margin-right: auto;
}

#gifContain:before{
	content: "";
	position: absolute;
	background: url('../resources/pink3.png') center center;
	background-size: contain;
	background-repeat: no-repeat;
	top: 0;
    bottom: 0;
    left: 0;
    right: 0;
	opacity: 0.2;
	z-index:-1;
}

#gifText {
	font-weight: bold;
  	text-align: center;
  	top: -10%;
  	font-size: 1.2em;
  	position: absolute;
	color: #0074cf;
}

#content {
	display: inline-block;
	width: 750px;
	height: 100%;
	padding: 8px 0 8px 8px;
}

.title {
	margin-bottom: 15px;
}

.title span {
	font-size: 1.5em;
	font-weight: bold;

}

footer {
	margin-top: 5px;
	clear: both;
	max-width: 940px;
}
.rightImgHome{
	width:350px;
	float:right;

}

footer .left { text-align: left; }
footer .right { text-align: right; }
footer .left p { text-weight: bold; }

footer p {
	text-weight: bold;
	display: inline;
	margin: 0px 0px 0px 0px;
}

.left { float: left; }
.right { float: right; }

.left {
	display: inline-block;
	width: 50%;
	float: left;
}

.left form {
	margin-left: 20px;
}

.left form select {
	width: 148px;
	height: 23px;
}

.left form textarea {
	width: 312px;
	height: 150px;
}

.right {
	display: inline-block;
	width: 50%;
	float: right;
}

#map-canvas {
	width: 100%;
}